
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

:root{
    --font-size: 1rem;
    --font-family: "fraunce", serif;
    --font-weight: bolder;
    --text-transform: capitalize;
    --background-color: #2f3c7e;
    --color: #fff;
    --transition: .2s;
    --background-color2: #fbeaeb;
}
/*  */
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(19, 18, 18, 0.712), rgba(14, 13, 13, 0.614)), url(../Image/landing\ image.avif);
    background-size: cover;
    background-position: center;
}

/*  */


.content{
    background-color: transparent;
    width: 70%;
    height: 150px;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.content > h1{
    color: whitesmoke;
    font-family: var(--font-family);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 10px;
}

.content > h1 > span{
    color: purple;
}

.content > p{
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
}

.content > .userClick{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userClick > a{
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 10px;
    background-color: purple;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 2.5rem;
    border: none;
    border-radius: 5px;
}
.userClick > a:hover{
    text-transform:capitalize;
    transition: 0.8s;
    background-color: darkorchid;
}
